/*.g-map {
	pointer-events: auto;
}
*/

.g-map-inner {
	background:  linear-gradient(360deg, rgba(0,0,0,0) 0%, rgb(0 0 0 / 70%) 100%);
}

#g-post-cover .g-text-cont {
    transform: scale(0.9) rotate(0deg) translate(0%, 31%);
}

#g-post-cover .g-text-en .g-text-inner:after {
	content: "Sept. 2-4, 2022";
}

.g-day {
	margin-right: 8px;
}

.g-map-inner {
	background:  linear-gradient(360deg, rgba(0,0,0,0) 20%, rgb(0 0 0 / 60%) 100%);
	padding-bottom: 100px;
}

.g-elev-chart text {
	font-size: 7px;
}

.g-map-inner svg {
	margin-left: auto;
	margin-top: 30px;
	margin-right: 12px;
}

.g-tl-t_maclehose {
	color: #ffcc00;
}

#g-post-cover .g-text-cont-inner {
	transform:  translate(0,28%);
}

#g-post-cover .g-title-en:after {
	margin: 11px auto 8px auto;
}

#g-post-cover .g-text-cn {
	line-height: 1;
	margin-bottom: 0;
}

#g-post-cover .g-text-en .g-text-inner:after {
	margin-top: 0;
}

#g-post-002:after {
	content:  "";
	display: block;
	background-image:  url("../skip.png");
	width:  100%;
	height:  100%;
	pointer-events: none;
	position: absolute;
	top:  0;
	left:  0;
	background-size: 100%;
	background-position: bottom right;
}

#g-post-map2 .g-text-cont {
	transform: translate(0%,16%);
}

#g-post-map .g-text-cont {
	transform: translate(0,16%);
}

#g-post-map .g-text-cn {
	max-width: 250px;
}

#g-post-intro .g-text-cont {
	transform: translate(0,28%);
}

#g-post-intro .g-text-cn {
	max-width: 330px;
}

#g-post-000 .g-text-cont {
	transform: scale(1.4) rotate(-10deg) translate(-18%,52%)
}

#g-post-001 .g-text-cont {
	transform: translate(0%,56%);
}

#g-post-001 .g-text-cn {
	max-width: 210px;
}

#g-post-001 .g-text-en {
	max-width: 270px;
}

#g-post-002 .g-text-cn {
	max-width: 240px;
}

#g-post-002 .g-text-en {
	max-width: 330px;
}

#g-post-002 .g-text-cont {
	transform: translate(0,54%);
}

#g-post-013a .g-text-cont {
	transform: translate(0, 60%);
}

#g-post-018 .g-text-cont {
	transform: translate(0, 29%);
}

#g-post-020a .g-text-cont {
	transform: translate(0, 54%);
}

#g-post-021a .g-text-en {
	max-width: 300px;
}

#g-post-025a .g-text-cont {
	transform: translate(0, 48%);
}

#g-post-025b .g-text-cont {
	transform: translate(28%, -20%);
}

#g-post-035a .g-text-cont {
	transform: translate(0%, 35%);
}

#g-post-035b .g-text-cont {
	transform: translate(0%, 43%);
}

#g-post-035b .g-text-en {
	max-width: 250px;
}

#g-post-035c .g-text-cont {
	transform: translate(0%, 58%);
}

#g-post-035c .g-text-en {
	max-width: 200px;
}

#g-post-037a .g-text-cont {
	transform: translate(0%, 54%);
}

#g-post-048a .g-text-cont {
	transform: translate(0%, 33%);
}

#g-post-048a .g-text-en {
	max-width: 250px;
}

#g-post-062a .g-text-cont {
	transform: translate(0%, 53%);
}

#g-post-062a .g-text-cn {
	max-width: 290px;
}

#g-post-062a .g-text-en {
	max-width: 300px;
}

#g-post-062b .g-text-cont {
	transform: translate(0%, 63%);
}

#g-post-062b .g-text-en {
	max-width: 240px;
}

#g-post-063a .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-068b .g-text-cont {
	transform: translate(0%, 60%);
}

#g-post-068b .g-text-en {
	max-width: 230px;
}

#g-post-068c .g-text-en {
	max-width: 250px;
}

#g-post-072a .g-text-cont {
	transform: translate(0%, 58%);
}

#g-post-072a .g-text-en {
	max-width: 200px;
}

#g-post-097a .g-text-cont {
	transform: translate(0%, 50%);
}

#g-post-097a .g-text-cn {
	max-width: 230px;
}

#g-post-097a .g-text-en {
	max-width: 290px;
}

#g-post-097b .g-text-cont {
	transform: translate(0%, 45%);
}

#g-post-100 .g-text-cont {
	transform: translate(0%, 30%);
}

#g-post-100a .g-text-cont {
	transform: translate(-2%, 25%);
}

#g-post-101a .g-text-cont {
	transform: translate(0%, 53%);
}

#g-post-101a .g-text-en {
	max-width: 210px;
}

#g-post-106a .g-text-cont {
	transform: translate(0%, 65%);
}

#g-post-106b .g-text-cont {
	transform: translate(0%, 60%);
}

#g-post-106b .g-text-en {
	max-width: 240px;
}

#g-post-106c .g-text-cont {
	transform: translate(0%, 10%);
}

#g-post-115a .g-text-cont {
	transform: translate(0%, 47%);
}

#g-post-115a .g-text-cn {
	max-width: 290px;
}

#g-post-115b .g-text-cont {
	transform: translate(-16%, 48%);
}

#g-post-115b .g-text-en {
	max-width: 230px;
}

#g-post-115c .g-text-cont {
	transform: translate(0%, 69%);
}

#g-post-115d .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-115e .g-text-cont {
	transform: translate(0%, 50%);
}

#g-post-115e .g-text-en {
	max-width: 250px;
}

#g-post-118 .g-text-cont {
	transform: translate(0%, 57%);
}

#g-post-118a .g-text-cont {
	transform: translate(0%, 65%);
}

#g-post-118b .g-text-cont {
	transform: translate(0%, 70%);
}

#g-post-125a .g-text-cont {
	transform: translate(0%, 39%);
}

#g-post-125c .g-text-cont {
	transform: translate(-12%, 70%);
}

#g-post-128a .g-text-cont {
	transform: translate(2%, 24%);
}

#g-post-128c .g-text-cont {
	transform: translate(0%, 59%);
}

#g-post-128d .g-text-cont {
	transform: translate(0, 44%);
}

#g-post-135a .g-text-cont {
	transform: translate(0%, 60%);
}

#g-post-137a .g-text-cont {
	transform: translate(0%, 70%);
}

#g-post-137a .g-text-en {
	max-width: 300px;
}

#g-post-137c .g-text-cont {
	transform: translate(0,40%);
}

#g-post-137b .g-text-cont {
	transform: translate(0%, 67%);
}


#g-post-137d .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-137d .g-text-en {
	max-width: 200px;
}

#g-post-138a .g-text-cont {
	transform: translate(0%, 50%);
}

#g-post-138b .g-text-cont {
	transform: translate(0%, 50%);
}

#g-post-138c .g-text-cont {
	transform: translate(0%, 65%);
}

#g-post-138c .g-text-en {
	max-width: 270px;金
}

#g-post-144 .g-text-cont {
	transform: translate(0%, 38%);
}

#g-post-146a .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-155a .g-text-cont {
	transform: translate(0%, 61%);
}

#g-post-155b .g-text-cont {
	transform: translate(0%, 49%);
}

#g-post-186a .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-190 .g-text-cont {
	transform: translate(0%, 30%);
}

#g-post-196a .g-text-cont {
	transform: translate(0%, 45%);
}

#g-post-198a .g-text-cont {
	transform: translate(0%, 10%);
}

#g-post-198a .g-text-en {
	max-width: 250px;
}

#g-post-198b .g-text-cont {
	transform: translate(0%, 50%);
}

#g-post-200 .g-text-cont {
	transform: translate(0%, 55%);
}

#g-post-200a .g-text-cont {
	transform: translate(0%, 62%);
}

#g-post-outtro .g-text-cont {
	transform: translate(0%, 35%);
}

#g-post-outtro .g-text-cn {
	max-width: 346px;
}

/*#g-post-cover .g-text-cont-inner {
	display: none;
}*/