<% var sections = ["stories", "shop"] %>

<% sections.forEach(function(section){ %>

<div class="g-section">
	<div class="g-hed" data-id="<%- section %>"><%- section.toUpperCase() %></div>
	<div class="g-project-cont g-project-<%- section %>" data-id="<%- section %>" data-state="closed">
		<% data[section].forEach(function(d){ %>
		<div class="g-project g-project-<%- d.link %>">
			<a href="a/<%- section %>/<%- d.link %>">
			<% if (data.imgs[d.link]) { %>
			<div class="g-img-cont" style="background-image: url('img/<%- d.link %>/<%- data.imgs[d.link][0] %>');"></div>
			<% } %>
			<div class="g-text g-text-cn"><%- d.name_cn.toUpperCase() %></div>
			<div class="g-text g-text-en"><%- d.name_en.toUpperCase() %></div>
			<div class="g-text g-small g-date"><%- d.date %></div>
			</a>
		</div>
		<% }) %>
	</div>
</div>

<% }) %>

<div class="g-section">
	<div class="g-hed" data-id="about">ABOUT</div>
	<div class="g-project-cont g-project-about" data-id="about" data-state="closed">
		<p class="g-text g-small">LKK LOVES HIKING AND MAPS.</p>
		<p class="g-text g-small">ALSO CHECKOUT <a href="lkk-store.com">LKKSTORE.COM.</a></p>
	</div>
</div>
